*{
	margin:0;
}
body{

}
#main_div{
	width:95%;
	max-width:1000px;
	margin: 0 auto;
}
#header h1{
	text-align: center;
	font-style: italic;
	font-size: 3em;
}
#header p{
	text-align: center;
}
.chart{
}
